<h1 class="profile-heading">All Conversations</h1>
<hr class="half-rule"/>
<% @conversations.each do |conversation| %>
  <div>
  <%= link_to conversation.subject, conversation_path(conversation) %>
  </div>
<% end %>
