// * {
//     border: 1px solid blue;
// }

body {
  margin: 0px;
}

.left-body-column {
    float: left;
    width: 25%;
    height: 100%;
    padding: 10px;
    position: fixed;
    margin-left: 10px;
    background-image: url("faltest2.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
  }

.right-body-column {
    float: right;
    width: 72%;
    padding: 10px;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 103%;
}

.nav-li {
    float: left;
}

.nav-li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-li a:hover {
    background-color: #111;
}

.search-bar {
    width: 100%;
    margin-top: 220px;
}

.search-style {
    width: 103%;
}

.dropbtn {
    background-color: #66EE99;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 103%;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-top: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    // min-width: 260px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100%;
}

.menu-scroll {
   max-height:400px;
   overflow-y:scroll;
   width: 100%;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    // overflow: scroll;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #66FF99;
    color: #444444
}
