.profile-heading{
	font-size: 30px;
	display: inline;
}

.edit-profile-btn{
	float: right;
}

.user-bio{
	margin-bottom: 5%;
}


.users-review-box{
	margin: 10% 0%;
}

.row-col-border{
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.rev-center{
	text-align: center;
}

.leave-review-box{
	margin-bottom: 5%;
}

.review-body{
	width: 100%;
	height: 100px;
	
}

.review-box{
	margin-bottom: 10%;
}

.submit-review{
	text-align: center;
}

.subject{
	width: 100%;
	margin: 0 auto;
}

.message-body{
	width: 100%;
	height: 100px;
}

.hidden{
	display: none;
}

.messaging-box{
	width: 60%;
	margin: 0 auto;
}


.underline{
	text-decoration: underline;
}
