#profile-heading{
	font-size: 30px;
	display: inline;
}

#edit-profile-btn{
	float: right;
}

#user-bio{
	margin-bottom: 5%;
}

.underline{
	text-decoration: underline;
}

#review-box{
	margin: 10% 0%;
}

.rvw-col-border{
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.center{
	text-align: center;
}

.leave-review-box{
	margin-bottom: 5%;
}

.review-body{
	width: 100%;
	height: 100px;
	
}

.submit-review{
	text-align: center;
}

#subject{
	width: 100%;
}

#message-body{
	width: 100%;
	height: 100px;
}

.hidden{
	display: none;
}


